<div class="wrapper">
    <h1 class="numberOfEvent">Number {{keycategoryDetail.id}} Event</h1>
            <div class="items">
               <div class="itemWrapper">
                    <h2 class="Title">Name</h2>
                    <p class="name">{{keycategoryDetail.keyCategoryName}}</p>
               </div>
               <div class="itemWrapper">
                    <h2 class="Title">Description</h2>
                    <p class="name">{{keycategoryDetail.keyDescription}}</p>
                </div>
                <div class="itemWrapper">
                    <h2 class="Title">Security Level</h2>
                    <p class="name">{{keycategoryDetail.securityLevel}}</p>
                </div>
            </div>
</div>
