.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.disabled {
  background-color: gray;
  color: white;
  border: none;
  cursor: not-allowed;
}
textarea{
  border: 2px solid black;
  padding: 10px;  

  &::placeholder{
    font-size: 20px;
  }
}
select{
  border: 2px solid black;
  padding: 10px; 
  font-size: 20px;
}